/* variables */
:root {
  --orange: #F1651F;
  --white: #fff;
  --light-gray: #eee;
  --gray: #ccc;
  --dark-gray: #444;
  --black: #000;
  --hover-shadow: 0 0 8px var(--gray);
}

/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: var(--white);
}

/* typography */
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

p {
  font-size: 0.8rem;
}

hr {
  margin: 1rem 0;
  border: 0;
  height: 2px;
  box-shadow: inset 0 2px 2px -2px rgba(0,0,0,0.75);
}

/* inputs */
input {
  font-family: 'Montserrat', sans-serif;
}

button {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
}

button:disabled {
  color: var(--gray);
  background-color: var(--light-gray);
  cursor: not-allowed;
  border: var(--gray);
}

button:not(:disabled):hover {
  outline: none;
  scale: 1.05;
  box-shadow: var(--hover-shadow);
}

button:active,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--gray);
  scale: 1;
  
}

/* NavBar */
header {
  padding: 0.5rem;
  box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
}

header .top-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

header .top-nav .logo {
  order: 1;
  color: var(--orange);
}

header .top-nav .search {
  order: 3;
  margin: 0 1rem;
  flex: 1 1 auto;
  padding: 0.5rem;
  display: flex;
  width: 100%;
}

header .top-nav .search input {
  border: none;
}

header .top-nav .search input[type="text"] {
  font-size: 1rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-top: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  width: 90%;
  padding: 1rem;
  background-color: var(--light-gray);
  transition: all 0.2s;
}

header .top-nav .search input[type="submit"] {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: transparent;
  text-shadow: 0 0 0 var(--gray);
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  background-color: var(--light-gray);
  cursor: pointer;
  transition: all 0.1s;
}

header .top-nav .search input[type="text"]:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
} 

header .top-nav .search input[type="text"]:focus + input[type="submit"] {
  background-color: var(--black);
  text-shadow: 0 0 0 var(--light-gray);
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

header .top-nav nav {
  order: 2;
  display: flex;
  align-items: center;
}

/* main */
main {
  display: flex;
  margin: 1rem 0;
}

/* sidebar */
aside {
  display: none;
}

section {
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

/* Category picker */
.category-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.category-picker span {
  margin: 0 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}

.category-picker span:hover {
  border-bottom: 2px solid var(--gray);
}

.category-picker span.active {
  border-bottom: 2px solid var(--black);
}


/* cards */
.card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex: 0 1 calc(50% - 1rem);
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--medium-gray);
  min-width: 0;
  position: relative;
}

.card .image {
  width:100%;
  position: relative;
  transition: box-shadow 0.2s;
}

.card .image::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card .image img {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;    
  object-position: center;
}

.card .image:hover {
  box-shadow: var(--hover-shadow);
}

.card .image .favorite {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: var(--black);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: white;
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.card .image:hover .favorite {
  opacity: 0.8;
}

.card .image .favorite:focus,
.card .image .favorite:hover {
  opacity: 1;
  box-shadow: none;
}

.card .details {
  margin: 0.5rem 0;
}

.card .details h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.card .details p {
  font-size: 0.8em;
  margin-bottom: 0.25rem;
}

.card .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  line-height: 1.5rem;
}


/* responsiveness */
@media (min-width: 640px) {

  /* header */
  header {
    padding: 0.25rem 1rem;
  }
  
  header .top-nav {
    align-items: center;
    justify-content: space-between;
  }

  header .top-nav .logo {
    order: 1;
  }

  header .top-nav .search {
    order: 2;
    width: auto;
  }

  header .top-nav nav {
    order: 3;
  }

  /* side bar */
  aside {
    display: block;
    width: 250px;
  }

  /* main area */
  main {
    padding: 0.25rem 1rem;
  }
}

@media screen and (min-width: 800px) {
  .card {
    flex: 0 1 calc(33% - 1rem);
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding: 0.25rem 4rem;
  }

  main {
    padding: 0.25rem 4rem;
  }

  .card {
    flex: 0 1 calc(25% - 1rem);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    flex: 0 1 calc(20% - 1rem);
  }
}