<h1>Create a new user!</h1>

<form method="POST" action="/users">
    <label for="user[name]">Name:</label>
    <input type="text" name="user[name]"><br>

    <label for="user[age]">Age:</label>
    <input type="number" name="user[age]"><br>

    <label for="user[fave_foods]">Favorite Foods:</label>
    <input type="text" name="user[fave_foods]"><br>

    <label for="user[bio]">Bio:</label>
    <input type="text" name="user[bio]"><br>
    <br>
    <input type="submit" value="Create User">
</form> 