<form method="POST" action="/users">
<label >Name</label>
<input type="text" name="user[name]">
<label >age</label>
<input type="integer" age="user[age]">
<input type="submit" value="create user">

</form>